<h3 class="title">
	<%= @post.title %>
</h3>

<p class="date">
	Submitted <%= time_ago_in_words(@post.created_at) %> ago<br> 
	<% if @post.user == current_user %>
		<%= link_to 'edit this post', edit_post_path(@post) %>
		<%= link_to 'delete this post', post_path(@post), method: :delete, data: {confirm: 'are you sure you want to delete this post?'} %>
		
	<% end %>
	<!-- <svg height="10" width="2000">
  <line x1="0" y1="5" x2="1000" y2="5" style="stroke:rgb(0,0,0);stroke-width:1" />
  Sorry, your browser does not support inline SVG.
</svg> -->
</p>

<p class="body">
	
	<%= @post.body %>
</p>

<div id="comments">
	<%= @post.comments.count %> comments
	<%= render @post.comments %>

	<p>Add a comment</p>
	<%= render 'comments/form' %>

</div>